@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body
{
    display: flex;
    justify-content: center;
    align-items:center ;
    min-height: 100vh;
    background: #222;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container .cigarette
{
    transform-style: preserve-3d;
    animation: animate 15s linear infinite;
}
@keyframes animate
{
    0%
    {
    transform: perspective(1000px) rotateX(0deg);
}
100%
{
transform: perspective(1000px) rotateX(360deg);
}
}
.container .cigarette span
{
    position: absolute;
    color: #fff;
    font-size: 1.35em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.76em;
    text-shadow :0 2px 5px rgba(0, 0, 0, 0.25);
    transform: translate(-50%,-50%) rotateX(calc(var(--i)*36deg)) translateZ(25px);
    background: rgba(0, 0, 0, 0.25);
    transform-style: preserve-3d;
}
.container .cigarette span i
{
    font-style: normal;
    color: #c4d9f3;

}
.container .cigarette span i:first-child:after
{
    content: 'L';
    color: #ccc;
    text-transform: lowercase ;
}
.container .cigarette span i:last-child

{
    color: rgb(163, 250, 175);
    filter:blur(2px) ;
    text-shadow: -4px 0 2px #000,
    8px 0 20px rgb(166, 255, 178),
    8px 0 20px rgb(155, 238, 166),
    8px 0 20px rgb(109, 167, 116),
    12px 0 rgb(83, 126, 89),
    16px 0 rgb(58, 90, 62),
    20px 0 rgb(38, 58, 41),
    24px 0 rgb(30, 44, 33);

}